.colored-text {
  position: relative;
}

.theme_dark .colored-text::after {
  background-image: url('../images/pattern.svg');
}

.colored-text::after {
  content: '';
  position: absolute;
  width: 3.7em;
  height: 0.2em;
  background-color: var(--accent-color);
  z-index: -1;
  top: 35px;
  right: -3px;
}
