.content-section {
  padding: 0 5vw;
}

.content__title {
  font-size: 30px;
  padding: 7% 0 2.5% 0;
}

.content__text-block {
  font-size: var(--main-font-size);
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

.theme_dark
  .content__text-block_type_first-lettered
  .content__paragraph:first-child::first-letter {
  border: 1px solid var(--text-color);
}

.content__text-block_type_first-lettered
  .content__paragraph:first-child::first-letter {
  background-color: var(--accent-color);
  display: inline-block;
  padding: 4px;
  margin-bottom: 1px;
  font-weight: bold;
  font-size: var(--first-letter-size);
}

.content__app-url {
  color: inherit !important;
}

.content__blockquote {
  font-style: italic;
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 200%;

  width: 75%;
  padding: 0 0 1.5em 0;
  margin: 0 auto;
}

.content__list {
  list-style-type: none;
  padding-inline-start: 40px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.theme_dark .content__list-item::before {
  background-image: url('../images/marker-dark.svg');
}

.content__list-item::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url('../images/marker-light.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.content__figure {
  margin-block: 7%;
  width: calc(100% + 10vw);
  position: relative;
  left: calc(-5vi);
}

.content__picture-caption {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #312a4e;
}

.content__picture {
  width: 100%;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 7%;
  aspect-ratio: 4/3;
  border: 1px solid var(--border-color-content-card);
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  text-align: center;
  display: block;
}
